@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700|Quicksand:400,500,700');

/*
font-family: 'Arvo', serif;
font-family: 'Quicksand', sans-serif;
*/

h1,h3,h5{
	font-family: 'Arvo', serif;
}

h2,h4,h6,p,ul,li{
	font-family: 'Quicksand', sans-serif;
}

body{
	background: #f4f4f4;
}

.white-container{
	background-color: #ffffff;
}

.navbar-default {
    border-bottom: 1px solid #aa9988;
    background-color: #ffffff;
}

.navbar-brand{
	height: auto;
}

.navbar-brand>h1{
	margin: 11px 0;
}

.center-nav-links{
	margin: 0 auto;
}

.corner-stone-image{
	max-height: 420px;
    display: block;
    margin: 0px auto 4px auto;
}

.single-post:hover{
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(173,168,173,1);
	-moz-box-shadow: 0px 0px 15px 1px rgba(173,168,173,1);
	box-shadow: 0px 0px 15px 1px rgba(173,168,173,1);
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.site-branding{
	text-align: center;
}

.title-link{
	color: #636b6f !important;
	-webkit-transition: all .33s ease-out;
	-moz-transition: all .33s ease-out;
	-o-transition: all .33s ease-out;
	transition: all .33s ease-out;
}

.title-link:hover{
	color: #e1a708 !important;
	text-decoration: none;
	-webkit-transition: all .33s ease-in;
	-moz-transition: all .33s ease-in;
	-o-transition: all .33s ease-in;
	transition: all .33s ease-in;
}

.nav-link{
	color: #aa9988;
	font-weight: bold;
}

.nav-link:hover{
	color: #e1a708;
}

.share-btn{
	opacity: 0;
	-webkit-transition: opacity .66s ease-in;
	-moz-transition: opacity .66s ease-in;
	-o-transition: opacity .66s ease-in;
	transition: opacity .66s ease-in;
}

.popover-content {
    word-wrap: break-word;
}

.pointer-cursor:hover{
	cursor: pointer;
}

/*Custom Padding*/
.pvs{
	padding-top: 4px;
	padding-bottom: 4px;
}

.pts{
	padding-top: 4px;
}

.ptm{
	padding-top: 8px;
}

.ptl{
	padding-top: 16px;
}

.pvm{
	padding-top: 8px;
	padding-bottom: 8px;
}

.pvl{
	padding-top: 16px;
	padding-bottom: 16px;
}

.phs{
	padding-left: 4px;
	padding-right: 4px;
}

.phm{
	padding-left: 8px;
	padding-right: 8px;
}

.phl{
	padding-left: 16px;
	padding-right: 16px;
}

.ptn{
	padding-top: 0;
}

.obn{
	padding-bottom: 0;
}

/*Custom Margins*/
.mvs{
	margin-top: 4px;
	margin-bottom: 4px;
}

.mvm{
	margin-top: 8px;
	margin-bottom: 8px;
}

.mvl{
	margin-top: 16px;
	margin-bottom: 16px;
}

.mhs{
	margin-left: 4px;
	margin-right: 4px;
}

.mhm{
	margin-left: 8px;
	margin-right: 8px;
}

.mhl{
	margin-left: 16px;
	margin-right: 16px;
}

.mtn{
	margin-top: 0;
}

.mbn{
	margin-bottom: 0;
}

.mbm{
	margin-bottom: 8px;
}

.mbl{
	margin-bottom: 16px;
}

/* Cursor Classes */
.cursor-pointer{
	cursor: pointer;
}